<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Payments</title>
  <%- include('../include.ejs') %>
</head>

<body class="container">
  <%- include('../menu.ejs') %>

  <% if (messages.success) { %>
  <div class="alert alert-success" role="alert">
    <%- messages.success %>
  </div>
  <% } %>

  <% if (messages.error) { %>
  <div class="alert alert-danger" role="alert">
    <%- messages.error %>
  </div>
  <% } %>
  <div class="row">
    <div class="col-md-3 mt-3"></div>
    <div class="col-md-6 mt-3">
      <form action="/payment/buy">
        <div class="mb-3">
          <label for="inmateNumber" class="form-label">Inmate:</label>
          <input type="text" class="form-control" id="inmateNumber" name="inmateNumber" required>
        </div>

        <div class="mb-3">
          <label for="amount" class="form-label">Amount:</label>
          <input type="number" class="form-control" id="amount" name="amount" value="10">
        </div>
        <h2> An introduction to CloudCorr </h2>
        <hr>
        <b> Description: </b> If you pay $10, your friend can use this service for 1 month.
        <hr>
        <button class="btn btn-warning btn-lg">Pay now</button>
      </form>
    </div>
    <div class="col-md-3 mt-3">

    </div>
  </div>
</body>

</html>