<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CloudCorr</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 200px;">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/inmates">Inmates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/accounts">Accounts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/keywords">Keywords</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/payment">Payment</a>
        </li>

      </ul>

    </div>
  </div>
</nav>